**简要描述：**

- {{&description}}

**请求URL：**
- `{{{url}}}`

**请求方式：**
- `{{method}}`

**请求header：**

|参数名|示例|
|:---- |-----   |
{{#headers}}
|{{key}} | {{&value}} |
{{/headers}}

**参数：**

|参数名|必选|类型|说明|示例|
|:----    |:---|:----- |-----   |
{{#parameters}}
|{{key}} | {{required}} | {{type}} | {{&description}} | {{&value}} |
{{/parameters}}

**响应状态：**

| 状态码 | 说明 | schema |
| -------- | -------- | ----- |
|200|OK|响应信息主体|
|400|Bad Request||
|401|Unauthorized||
|403|Forbidden||
|404|Not Found|-|

 **返回示例**
```
{{{response}}}
```

 **返回参数说明**

|参数名|类型|说明|
|:-----  |:-----|-----  |
{{responseParam}}

 **备注**

- 更多返回错误代码请看首页的错误代码描述
